<!DOCTYPE html>
<html>
<body>
        <div class="row divider green">
        	<div class="col-md-12"></div>
        </div>
        <div class="row banner menu">
        	<div class="col-md-11 col-md-offset-1 padding-none">
        		<h1>New Restaurant</h1>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-6 col-md-offset-1 padding-top">
        		<form action="#" method = "post">
        			<div class="form-group">
        			<label for="name">Name:</label>
        			<input type ="text" class="form-control" maxlength="100" name="name">
                    <br/>
                    <label for="altitude">Altitude:</label>
                    <input type ="text" class="form-control" maxlength="100" name="altitude">
                    <br/>
                    <label for="longitude">Longitude:</label>
                    <input type ="text" class="form-control" maxlength="100" name="longitude">
        			
        			<div class="padding-bottom"></div>
        			<button  class="btn btn-default" id="submit" type="submit">
        			<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Create</button>
        			</div>
        		</form>
        	</div>
        </div>
</body>
</html>